body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.error {
  color: red;
}

.warning {
  color: orange;
}

.success {
  color: green;
}

.layout {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    overflow: hidden;
    background: black;
}

.layout > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.messages {
  display: block;
  margin: 0;
  padding: 0;
  width: 90vw;
  height: 75px;
  overflow: hidden;
  background: rgba(255, 255, 255, 1);
}

.messages li {
  margin: 0 20px;
  line-height: 25px;
}

